[submodule "cbios"]
	path = msx/cbios
	url = git@github.com:vipoo/cbios.git
	branch = main
[submodule "nextor"]
	path = msx/nextor
	url = git@github.com:vipoo/Nextor.git
	branch = dean/1/v2.1
[submodule "msxsys-build/msxsyssrc"]
	path = msx/msxsys-build/msxsyssrc
	url = git@github.com:vipoo/msxsrcsrc.git
	branch = dean/main
[submodule "referened-repos/MSX-Development"]
	path = referened-repos/MSX-Development
	url = git@github.com:ducasp/MSX-Development.git
[submodule "referened-repos/fusion-c"]
	path = referened-repos/fusion-c
	url = git@github.com:ericb59/Fusion-C-v1.2.git
[submodule "referened-repos/xmodem-1k"]
	path = referened-repos/xmodem-1k
	url = git@github.com:kelvinlawson/xmodem-1k.git
[submodule "msx/apps/chip8"]
	path = msx/apps/chip8
	url = git@github.com:vipoo/rc2014-chip8.git
[submodule "msx/bbcbasic-z80"]
	path = msx/bbcbasic-z80
	url = git@github.com:vipoo/bbcbasic-z80.git
