BasedOnStyle: LLVM
IndentWidth: 2
AlignConsecutiveMacros: true
ColumnLimit: 125
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: true
AlignConsecutiveMacros: true
AlignEscapedNewlines: Right
BinPackArguments: false
BinPackParameters: false